.content{
  width:780px;
  margin: auto;
  font-size:16px;
  font-family:'Source sans Pro', Calibri, Tahoma, sans-serif;
}

.infophoto{
  height:250px;
}

.info {
  float: left;
}

.photo
{
  float: right;

}

.section {
  margin-bottom:70px;
  text-align:justify;
}

h2{
  font-size:28px;
  color:#3388BB;
  text-transform:uppercase;
  border-bottom: 3px solid #3388DD;
}

.left{
  float:left;
}

.right{
  margin-left:150px;
  margin-top:55px;
}

.title{
  font-weight:bold;
  font-size:20px;
}

strong{
  font-size:26px;
}

#form p{
  margin-bottom:37px;
}

.section:hover{
  color:orange;
}

#lower p{
  margin-top:10px;
}

#belower p{
  padding-top:30px;
}
